@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
body {
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: large;
}

.nav-item {
    text-align: center;
}
.container-fluid {
    padding: 0;
}
.btn-search {
    width: 120px;
    border: 2px solid #234f1e;
    background-color: #234f1e;
    color: #fff;
    border-radius: 8px;
    background-color: none;
}
.logo {
    max-width: 31%;
}
.navbar-brand {
    max-width: 50%;
}

.nav-item:hover::after, .nav-item:focus::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #234f1e;
    padding-bottom: 1px;
}
.sale {
    background-color: rgb(35, 79, 30, 0.4);
    text-align: center;
}
.per {
    font-size: xx-large;
}
.week {
    font-size: small;
}
.politic {
    text-align: center;
}
fieldset {
    border: 1px solid black;
    width: 500px;
}
legend {
    font-size: xx-large;
}
.plant {
    width: 100%;
}
footer {
    background-color: #000;
}
h2 {
    text-align: center;
}
.ourDelievery {
    text-align:justify;
}
.delievery-politic {
    padding-left: 300px;
    padding-right: 300px;
}
.categories {
    border-right: 1px solid gray;
}
.categories h5 {
    text-decoration:solid;
}
.catalog-items p, a{
    cursor: pointer;
    color: #000;
    outline: no;
    text-decoration: none;
}
.catalog-items img{
    width: 300px;
    height: 300px;
}
.container-profile {
    text-align: center;
}
.orders {
    width: 100%;
}
.order {
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 10px 40px;
    text-align: left;
}
a:hover {
    color: #000;
}
.inCart img {
    width: 150px;
    margin-right: 40px;
}
.inCart {
    padding: 10px 40px;
}
.plus, .minus {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 60px;
}
.input-num {
    outline: none;
    text-align: center;
    font-size: 24px;
    width: 150px;
}
.cost {
    font-size: 28px;
    padding-top: 100px;
    padding-right: 150px;
}
.submit {
    padding-right: 150px;
}
.btn-submit {
    padding: 20px;
    background-color: #234f1e;
    border: none;
    border-radius: 60px;
    color: #fff;
}
.addProduct, .btn-singup, .btn-exit {
    color: #fff;
    padding: 10px;
    background-color: #234f1e;
    border: none;
    border-radius: 60px;
}
.btn-exit {
    width: 300px;
}
.container-singup {
    width: 100%;
    text-align: center;
}
.inputData {
    padding-left: 20px;
    outline: none;
    width: 50%;
    height: 45px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 45px;
}