<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/ico.png" type="png">
    <script type="text/javascript" src="js/headfoot.js"></script>
    <title>О нас</title>
</head>
<body>
    <div class="head"></div>
    <div class="container-fluid">
        <img src="../images/we.JPEG" style="width: 100%;">
        <div class="eco-politic mt-5 ms-3 me-3">
            <h2 class="title">НАША ЭКОЛОГИЧЕСКАЯ ПОЛИТИКА</h2><br>
            <span class="goals ps-5 pe-5" style="font-size: larger; line-height: 2;">
                <p>Целью нашей работы является развитие продукции и услуг компании с направленностью на сохранность окружающей среды.</p>
                <ul style="list-style-type: circle;">
                    <li>
                        Мы преданно следуем принципу непрерывного совершенствования.
                    </li>
                    <li>
                        Мы соблюдаем экологическое законодательство, строя и развивая нашу деятельность в соответствии с изменяющимися требованиями.
                    </li>
                    <li>
                        Мы стремимся улучшать качество природной среды, проводя системную работу по снижению выбросов в атмосферу, уменьшению количества загрязнений в стоках и сокращению образования промышленных отходов.
                    </li>
                    <li>
                        Мы берем на себя обязательства по предупреждению аварийных ситуаций, негативно воздействующих на окружающую среду и минимизации их возможных последствий.
                    </li>
                    <li>
                        Мы обучаем персонал соблюдению экологических требований
                    </li>
                    <li>
                        Внешние аудиты и проверки нашей системы управления окружающей средой проводятся на регулярной основе.
                    </li>
                    <li>
                        Мы используем возобновляемые ресурсы в производстве и сохраняем возможность вторичной переработки нашей продукции.
                    </li>
                </ul>
                <p>Человеческие ценности являются краеугольным камнем нашей деятельности. Честность, сильное самосознание и вера в своё умение дают нам крепкую основу, на которой мы можем строить свою деятельность как у себя в стране, так и на международных рынках. Сосредотачиваясь на собственном умении, мы производим изделия высокого качества, которыми можем гордиться.</p>
                <p><u>Сертификат ISO 9001/14001</u></p>
                <ul>
                    <li>
                        Целью нашей работы является непрерывное совершенствование своей продукции и повышение уровня оказываемых услуг.
                    </li>
                    <li>
                        Мы определяем потребности покупателей и удовлетворяем их, в результате находя новых клиентов.
                    </li>
                    <li>
                        Наш персонал квалифицирован и работает на достижение поставленных целей в области качества.
                    </li>
                    <li>
                        Внешние аудиты и проверки нашей системы менеджмента качества выполняются на постоянной основе.
                    </li>
                </ul>
            </span>
        </div>
    </div>
    <div class="foot"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>