<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/ico.png" type="png">
    <script type="text/javascript" src="../js/headfoot.js"></script>
    <title>Доставка</title>
</head>
<body>
    <div class="head"></div>
    <div class="container-fluid">
        <img src="../images/delievery.JPEG" style="width: 100%;">
        <div class="delievery-politic  mt-5 ms-3 me-3">
            <h2 class="title">БЫСТРО ДОСТАВИМ ВАШ ЗАКАЗ ПО ВСЕЙ РОССИИ</h2>
            <h3 class="pt-5">Политика доставки</h3>
            <p class="ourDelievery pt-3">Все заказы обрабатываются в течение 1-3 рабочих дней (исключая выходные и праздничные дни) после получения электронного письма с подтверждением заказа. Вы получите еще одно уведомление, когда ваш заказ будет отправлен. Мы сделаем все возможное, чтобы ваши товары были доставлены как можно быстрее, и мы не несем ответственности за любые задержки доставки после того, как ваша посылка будет обработана выбранным вами поставщиком услуг доставки.</p>
            <h3 class="pt-5">Цена доставки</h3>
            <p class="ourDelievery pt-3">Мы предлагаем бесплатную экономичную доставку для всех заказов на сумму более 1500 рублей. При сумме заказа до 1500 рублей, стоимость доставки будет составлять 200 рублей.</p>
            <h3 class="pt-5">Как я могу проверить статус своего заказа?</h3>
            <p class="ourDelievery pt-3">Когда ваш заказ будет оформлен, вы получите трек-код для отслеживания заказа в Вашем личном кабинете, в котором будет указан номер для отслеживания, который вы можете использовать для проверки его статуса.</p>
            <h3 class="pt-5"></h3>
        <div id="map"></div>
    </div>
    <div class="foot"></div>
</body>
</html>