<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" th:src="@{images/ico.png}" type="png">
    <script type="text/javascript" src="js/headfoot.js"></script>
    <title>Каталог</title>
</head>
<body>
    <div class="head"></div>
    <div class="row">
        <div class="col-6"><img th:src="@{images/products/notebook1.jpg}" style="margin-left:150px; width: 600px; height: 600px;"></div>
        <div class="col-6">
            <div class="row" style="margin-top: 100px;"><h3>Блокнот для ежедневных встреч</h3></div>
            <div class="row mt-2"><h4>300Р</h4></div>
            <div class="row mt-4"><button style="width: 50%;" class="addProduct">Добавить в корзину</button></div>
            <div class="row mt-5" style="width: 70%; text-align:justify; font-size: 20px;">Бумага ручной работы и хлопковая ткань. Карманный блокнот размером 3,5 x 6 дюймов в мягком переплете. Содержит 24 страницы бумаги ручной работы без рулонов. Этот ручной мраморный блокнот изготовлен мастерами из Санганера, Джайпур.</div>
        </div>
    </div>
    <div class="foot"></div>
</body>
</html>